<div class="container mt-4">
  <h2 class="text-center mb-4">Registro</h2>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="mb-3">
          <label for="firstName" class="form-label">Nome</label>
          <input type="text" id="firstName" class="form-control"
                 [(ngModel)]="user.firstName" name="firstName"
                 #firstName="ngModel" required
                 [ngClass]="{'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)}">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
            O nome é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Sobrenome</label>
          <input type="text" id="lastName" class="form-control"
                 [(ngModel)]="user.lastName" name="lastName"
                 #lastName="ngModel" required
                 [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)}">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
            O sobrenome é obrigatório.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control"
                 [(ngModel)]="user.email" name="email"
                 #email="ngModel" required
                 [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors?.['required']">O email é obrigatório.</div>
            <div *ngIf="email.errors?.['email']">O email deve ser válido.</div>
          </div>
        </div>
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Senha</label>
          <input 
            [type]="hidePassword ? 'password' : 'text'" 
            id="password" 
            class="form-control"
            [(ngModel)]="user.password" 
            name="password"
            #password="ngModel" 
            required
            [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
          >
          <div class="position-absolute top-50 end-0 translate-middle-y pe-2">
            <i 
              class="bi" 
              [ngClass]="hidePassword ? 'bi-eye-slash' : 'bi-eye'" 
              (click)="togglePasswordVisibility()"
              style="cursor: pointer;"
            ></i>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
            A senha é obrigatória.
          </div>
        </div>

        <div class="mb-3 position-relative">
          <label for="confirmPassword" class="form-label">Confirmar Senha</label>
          <input 
            [type]="hideConfirmPassword ? 'password' : 'text'" 
            id="confirmPassword" 
            class="form-control"
            [(ngModel)]="user.confirmPassword" 
            name="confirmPassword"
            #confirmPassword="ngModel" 
            required
            [ngClass]="{'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}"
          >
          <div class="position-absolute top-50 end-0 translate-middle-y pe-2">
            <i 
              class="bi" 
              [ngClass]="hideConfirmPassword ? 'bi-eye-slash' : 'bi-eye'" 
              (click)="toggleConfirmPasswordVisibility()"
              style="cursor: pointer;"
            ></i>
          </div>
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
            A confirmação da senha é obrigatória.
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Cadastre-se</button>
        </div>
      </form>
    </div>
  </div>
</div>