.remove-button .bi-heart,
.remove-button .bi-heart-fill {
  color: red; 
  font-size: 24px; 
}

.remove-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 15px;
}

.remove p {
  margin-right: 10px;
}

.remove {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

h2 {
  margin-bottom: 20px;
}

div {
  color: white;
}