.navbar {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo no container */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  margin-left: auto; 
}