<div class="container text-center">
    <h1 class="my-5">Bem-vindo ao Find Movies</h1>
    <p>Use a barra de pesquisa para encontrar seus filmes, séries ou celebridades favoritos.</p>
    
    <div class="mb-5"> 
        <form class="d-flex justify-content-center">
            <input class="form-control me-2" type="search" placeholder="Buscar filmes, séries ou celebridades" aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
</div>
