<div class="search-container">
  <input 
    class="search-input" 
    type="text" 
    [(ngModel)]="query" 
    placeholder="Pesquisar Filmes" 
    (keyup.enter)="searchMovies()" 
  />
  <button class="search-button" (click)="searchMovies()">Buscar</button>
</div>

<div *ngIf="isLoading">Carregando...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="!isLoading">
  <div *ngIf="movies.length; else noResults">
    <div *ngFor="let movie of movies">
      <h3>{{ movie.title }}</h3>
      <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" alt="{{ movie.title }}" width="200">
      <p>{{ movie.overview }}</p>
      <p *ngIf="movie.voteAverage">Nota: {{ movie.voteAverage }}</p> 
    </div>
  </div>
  <ng-template #noResults>
    <div *ngIf="query">
      Nenhum filme encontrado.
    </div>
  </ng-template>
</div>
